ion-content {
  --background: var(--steam-background);
}
.login-background{
  padding: 0 !important;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.logo-steam{
  width: 200px;
}

.title-container{
  display: flex;
  justify-content: center;
}

.login-title{
  color: white;
  font-size: 2.8rem;
  font-family: 'Inter';
  font-weight: bold;
  margin-bottom: 80px;
}

.sign-in{
  text-transform: uppercase;
  color: #1999FF;
}

.password{
  color: var(--text-grey);
  text-transform: uppercase;
}

/* Form */
/* form{
 width: 257px;
} */
.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
}




form{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --background: var(--text-placeholder);
  
}

ion-input {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.ion-input-responsive{
  width: 257px;
  height: 31px;
  background: var(--text-placeholder);
}


.item-inner{
  --padding: 0;
  --margin: 0;
}

.item-native{
  padding: 0 !important;
  margin: 0 !important;
}

.custom-button{
  background: var(--boton-color);
  width: 244px;
  height: 44px;
  margin-top: 48px;
  text-transform: none;
}

/* Register */
.register-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.register-text{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-button-little{
  background: var(--boton-color);
  text-transform: none;
  width: 154px;
  height: 30px;
}

.color-text{
  color: var(--text-white);
}

.margin-text{
  margin-top: 79px;
}

/* Media */